@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@keyframes flashRed {
  0% {
    background: transparent; }
  5% {
    background: rgba(219, 57, 8, 0.856); }
  100% {
    background: transparent; } }
@keyframes flashBorder {
  0% {
    border-bottom: 2px solid transparent;
    caret-color: rgba(201, 14, 14, 0.616); }
  5% {
    border-bottom: 2px solid rgba(201, 14, 14, 0.616); }
  10% {
    border-bottom: 2px solid rgba(225, 16, 16, 0.616); }
  100% {
    border-bottom: 2px solid rgba(201, 14, 14, 0.616);
    caret-color: rgba(211, 15, 15, 0.616); } }
@keyframes unflashBorder {
  0% {
    caret-color: rgba(201, 14, 14, 0.616);
    border-bottom: 2px solid rgba(201, 14, 14, 0.616); }
  100% {
    border-bottom: 0px solid transparent;
    caret-color: rgba(211, 15, 15, 0.616); } }
@keyframes fadeLayout {
  0% {
    left: 0;
    opacity: 1; }
  100% {
    left: -100vw;
    opacity: 0; } }
@keyframes popMsgFade {
  0% {
    opacity: 0.9; }
  100% {
    opacity: 0; } }
@keyframes popMsgIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.9; } }
body:not(.mapCont) {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden; }

*:focus {
  outline: none; }

.sSpan {
  font-weight: bold; }

#head {
  background: #d7e0e4;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column; }
  #head * {
    animation-fill-mode: forwards;
    transition: 1s;
    text-align: center;
    justify-content: center;
    text-align: center; }
  #head p, #head h1, #head h2, #head h3, #head h4, #head h5, #head h6, #head input, #head select {
    color: #4d3030; }
  #head #h_title {
    border: 3px solid rgba(201, 14, 14, 0.616);
    background: #dae2e6;
    margin: 5vh 2vw; }
    #head #h_title h1 {
      padding: 3vh 5vw; }
  #head #Madeby {
    padding-top: 5vw; }
    #head #Madeby p {
      text-align: center;
      padding: 5px 25px;
      color: rgba(25, 25, 25, 0.2);
      background: rgba(255, 255, 255, 0.5); }
  #head #method {
    display: inline-block;
    width: 100%; }
  #head #method:before {
    content: " ";
    display: inline-block;
    width: 0.2em; }
  #head #headCont * {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    word-spacing: 0.2em;
    overflow: hidden; }
  #head #title {
    font-size: 1.5em; }
    #head #title * {
      transition: 0.2s;
      white-space: nowrap; }
    #head #title h5 {
      padding: 3vh 13vw;
      display: flex;
      flex-wrap: nowrap;
      flex-flow: nowrap;
      flex-direction: row;
      align-items: center;
      align-content: center; }
      #head #title h5 span {
        align-self: center; }
  #head #title h5:hover {
    background: #d1dbe0; }
  #head #search {
    padding: 2.5vh 0vw 2.5vh 0vw;
    display: flex;
    justify-content: center; }
    #head #search * {
      font-size: 1.1em; }
    #head #search #input1 {
      background: rgba(255, 255, 255, 0);
      border: none;
      transition: 0.1s;
      text-align: center;
      width: 10vw;
      caret-color: rgba(211, 15, 15, 0.616);
      transition: 0.1s; }
    #head #search #input2 {
      background: rgba(255, 255, 255, 0);
      border: none;
      border-bottom: 2px solid rgba(201, 14, 14, 0.616);
      transition: 0.1s;
      text-align: center;
      width: 0vw;
      transition: 0.1s;
      text-align-last: center;
      /*https://stackoverflow.com/a/20464860*/
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
      /****************************************/ }
    #head #search #btn {
      padding: 0px 1em;
      margin: 0px 1vw;
      transition: 0.2s; }

.addAnim {
  animation: flashBorder 1s; }

.removeAnim {
  animation: unflashBorder 2s; }

.noValue {
  animation: flashRed 1s; }

#map {
  position: absolute;
  left: 100vw;
  width: 100vw;
  height: 45vh;
  background: #e0d8d8; }

#body {
  background: #ebe6e6;
  width: 1000vw; }
  #body * {
    color: #000;
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif; }
  #body #dataInfo {
    width: 100vw;
    background: #e4dede;
    display: flex;
    align-content: center;
    justify-content: space-between;
    text-align: center;
    height: 5.5vh;
    border-bottom: 3px solid rgba(0, 0, 0, 0.3); }
    #body #dataInfo #info_search {
      display: flex;
      align-self: center;
      justify-content: flex-start; }
      #body #dataInfo #info_search p {
        padding: 0px 10px;
        text-decoration: underline;
        font-size: 1em; }
    #body #dataInfo #info_search:hover p {
      font-size: 1.05em; }
    #body #dataInfo #info_info {
      display: flex;
      align-self: center;
      justify-content: flex-end; }
      #body #dataInfo #info_info p {
        font-size: 1.2em; }
  #body #fixedHead {
    position: absolute;
    background: white;
    width: 100vw;
    height: 20vh;
    top: 0;
    z-index: 2; }
  #body #contData {
    width: 100%;
    height: 55vh;
    overflow: hidden;
    overflow-x: auto;
    position: absolute;
    left: 0;
    top: 45vh;
    z-index: -1; }
  #body #dataReturn {
    color: black;
    z-index: 2;
    display: flex;
    position: absolute;
    background: #ebe6e6;
    overflow-x: visible;
    left: 0;
    align-items: center;
    height: 50.5vh;
    top: 5.5vh; }
    #body #dataReturn .panel {
      display: flex;
      width: 30vw;
      height: 45.5vh;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      text-align: center;
      align-items: center;
      background: #e4dede;
      margin-right: 2vw;
      border: 2px solid #e8e2e2;
      transition: 1s; }
      #body #dataReturn .panel #p_location {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row; }
    #body #dataReturn .panel:hover {
      transition: 0.2s;
      border: 3px solid #e0d8d8; }

.p_mapLink {
  text-decoration: underline;
  transition: 1s; }

.p_mapLink:hover {
  transition: 0.25s;
  background: #c9bcbc;
  text-decoration: underline; }

#foot {
  background: #141e0a; }

.evnt::before {
  content: "---"; }

.evnt {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1; }

#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #ffd2e6;
  display: flex;
  align-items: center;
  justify-content: center; }

.fadeOut {
  animation: fadeLayout 1s;
  animation-fill-mode: forwards; }

.popMsg {
  position: fixed;
  top: 85vh;
  left: 50vw;
  padding: 5px 15px;
  background: rgba(230, 220, 220, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  opacity: 0.9;
  pointer-events: none; }
  .popMsg * {
    pointer-events: none; }

.popMsgIn {
  animation: 1s popMsgIn;
  animation-fill-mode: forwards; }

.popMsgAnim {
  animation: 2s popMsgFade;
  animation-delay: 2s;
  animation-fill-mode: forwards; }

.scroller {
  background: red; }

/*# sourceMappingURL=main.css.map */
