@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$bg-colors: #e5e9eb, rgb(255, 232, 232), rgb(20,30,10);
$ac-colors: rgba(196, 27, 27,0.5);
$txt-col: 	#8b5454, #000;  

$overlay-bg: rgba(25,25,55,1);

$font: 'Ubuntu', sans-serif;

@keyframes flashRed{
    0%{
        background:transparent;
    }
    5%{
        background: rgba(219, 57, 8, 0.856);
    }
    100%{
        background:transparent;
    }
}

@keyframes flashBorder{
    0%{
        border-bottom: 2px solid transparent;
        caret-color: nth($ac-colors,1);
    }

    5%{
        border-bottom: 2px solid nth($ac-colors,1);
    }

    10%{
        border-bottom: 2px solid  lighten(nth($ac-colors,1),5%);
    }

    100%{
        border-bottom: 2px solid nth($ac-colors,1);
        caret-color: lighten(nth($ac-colors,1),2%);
    }
}

@keyframes unflashBorder{
    0%{
        caret-color: lighten(nth($ac-colors,1),0%);
        border-bottom: 2px solid nth($ac-colors,1);
    }
    100%{
        border-bottom: 0px solid transparent;
        caret-color: lighten(nth($ac-colors,1),2%);
    }
}
