@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$bg-colors: #d7e0e4, rgb(235, 230, 230), rgb(20,30,10);
$ac-colors: rgba(201, 14, 14, 0.616);
$txt-col: 	#4d3030, #000;  

$load-bg: rgb(255, 210, 230);

$overlay-bg: rgba(25,25,55,1);

$font: 'Ubuntu', sans-serif;

@keyframes flashRed{
    0%{
        background:transparent;
    }
    5%{
        background: rgba(219, 57, 8, 0.856);
    }
    100%{
        background:transparent;
    }
}

@keyframes flashBorder{
    0%{
        border-bottom: 2px solid transparent;
        caret-color: nth($ac-colors,1);
    }

    5%{
        border-bottom: 2px solid nth($ac-colors,1);
    }

    10%{
        border-bottom: 2px solid  lighten(nth($ac-colors,1),5%);
    }

    100%{
        border-bottom: 2px solid nth($ac-colors,1);
        caret-color: lighten(nth($ac-colors,1),2%);
    }
}

@keyframes unflashBorder{
    0%{
        caret-color: lighten(nth($ac-colors,1),0%);
        border-bottom: 2px solid nth($ac-colors,1);
    }
    100%{
        border-bottom: 0px solid transparent;
        caret-color: lighten(nth($ac-colors,1),2%);
    }
}

@keyframes fadeLayout{
    0%{
        left:0;
        
        opacity: 1;
    }

    100%{
        left:-100vw;
        opacity: 0;

    }
}

@keyframes popMsgFade{
    0%{
        opacity: 0.75;
    }

    100%{
        opacity: 0;
    }
}

@keyframes popMsgIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.75;
    }
}